.input {
  width: 100%;
  border: 2px solid var(--color-medium-gray);
  padding: 8px 16px;
  font-size: 16px;
}

.input:focus {
  border: 2px solid var(--color-true-gray);
  outline: 2px solid var(--color-true-gray);
}
